interface Port-channel {{ po_uplink_id }}
 switchport
 switchport mode trunk
 switchport nonegotiate
exit
!
{% for interface in interfaces -%}
interface {{ interface.name }} {{ interface.port }}
{% if interface.description -%}
 description {{ interface.description }}
{% endif -%}
 switchport
 switchport mode trunk
 switchport nonegotiate
 channel-protocol lacp
 channel-group {{ interface.channel_group or po_uplink_id }} mode active
 ip dhcp snooping trust
exit
!
{% endfor -%}