interface Port-channel{{ po_uplink_id }}
 switchport
 switchport mode trunk
 switchport nonegotiate
exit
!

{% for interface in interfaces %}
interface {{ interface.name }}
{% if interface.description %}
 description {{ interface.description }}
{% endif %}
 switchport
 switchport mode trunk
 switchport nonegotiate
{% if interface.channel_group %}
 channel-group {{ interface.channel_group }} mode active
{% endif %}
 ip dhcp snooping trust
exit
!
{% endfor %}

